<!DOCTYPE HTML>
<html lang='ko'>
<head>
    <%- include ('../partials/common.ejs') %>
</head>
<body>
<h1>Verse Admin - New Post</h1>
<%- include ('../partials/header.ejs') %>
<main>New Post</main>
<%- include ('../partials/footer.ejs') %>
</body>
</html>