<!DOCTYPE HTML>
<html lang='ko'>
<head>
    <%- include ('./partials/common.ejs') %>
</head>
<body>
<h1>Verse - Contact</h1>
<%- include ('./partials/header.ejs') %>
<main>Contact</main>
<%- include ('./partials/footer.ejs') %>
</body>
</html>